@charset "utf-8";

/***************************
テストカラー
****************************/
$testone:#da9191;
$testtwo:#b556db;


/***************************
カラー
****************************/
// サイト共通
$siteWhite:#FFFFFF;
$siteBlack:#191919;
$siteOrange:#FF8000;
$siteGreen:#30554C;
$siteRightGray:#F2F2F2;
// タイトル特有
$titleDarkGreen:#00A99D;
$titleBrightGreen:#2FC996;
// セクション特有
$planLineBlue:#59B5D2;
$planLineGreen:#9CBC3C;
$supportLineOrange:#FFBD7B;
$supportLineGreen:#83DCBF;
$faqBgGreen:#91FF00;


/*****************************
フォント
******************************/
$fontMeiryo: "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", Arial,
  sans-serif;
$fontHira: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo,
  Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
$fontMintyo: "ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3",
  "Hiragino Mincho Pro", serif;
$fontGothic: "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
$fontRaleway: "Raleway", "MS PGothic", sans-serif;
$fontNoto: "Noto Sans Japanese", serif;
$fontLato: "Lato", "arial", sans-serif;
$fontOpenSans: "Open Sans", Arial, sans-serif;
$fontYuMin: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro",
  "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
$fontYuGothic: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ",
  sans-serif;
$fontNoteMin: "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "HiraMinProN-W3",
  "Noto Serif JP", "游明朝", "Yu Mincho", "游明朝体", "YuMincho", "HGS明朝E",
  serif;
$roboto: "Roboto Condensed", sans-serif;

.bold {
  font-weight: bold;
}
/*******************************
構造
********************************/
body {
  overflow-x: hidden;
}
body,
  h1,
  h2,
  h3,
  h4,
  h5,
  table,
  th,
  td,
  ul,
  li,
  ol,
  dl,
  dt,
  dd,
  form,
  p {
    margin: 0px;
    padding: 0px;
    list-style: none;
    list-style-type: none;
    font-weight: 300;
  }
  button {
    cursor: pointer;
  }
  a {
    text-decoration: none;
  }


.c-title__hr {
  width: 140px;
  border-color: $siteWhite;
  border-width: 1px;
  border-style: solid;
  margin-top: 20px;
}

/*******************************
component テキスト
********************************/
.c-textcolor--orange {
  color: $siteOrange;
}
.c-textcolor--black {
  color:$siteBlack;
}
.c-textcolor--white {
  color: $siteWhite;
}
.c-textcolor--green {
  color: $siteGreen;
}
.c-titlecolor--brightgreen {
  color: $titleBrightGreen;
}




.c-text--12 {
  font-size: 12px;
}
.c-text--28-0-40 {
  // 調整(XD28→UI23,0,40/28em)
  font-size: 23px;
  letter-spacing: 0px;
  line-height: 1.42em;
}
.c-text--13-046-27 {
  // 調整(XD13→UI12,0.46,27/12em)
  font-size: 12px;
  letter-spacing:0.46px;
  line-height: 2.25em;
}
.c-text--20-07-27 {
  // 調整(XD20→UI16,0.47,27/16em)
  font-size: 16px;
  letter-spacing:0px;
  line-height: 1.68em;
}
.c-text--16-096-30 {
  // 調整(XD16→UI14,0.96,30/14em)
  font-size: 14px;
  letter-spacing:0.96px;
  line-height: 2.14em;
}
.c-text--36-025-44 {
  // 調整(XD36→UI30,0.25,44/34em)telnumber
  font-size: 30px;
  letter-spacing:0.25px;
  line-height: 1.29em;
}
.c-text--47-0-57 {
  // 調整(XD47→UI45,0,57/47em)
  font-size: 45px;
  letter-spacing:0px;
  line-height: 1.21em;
}


.c-text--20-1-29 {
  // 調整(XD20→UI17,1,29/18em)
  font-size: 17px;
  letter-spacing: 1px;
  line-height: 1.61em;
}
.c-h2--65-0-121 {
  // 調整(XD65→63,0,121/58em)
  font-size: 63px;
  letter-spacing: 0px;
  line-height: 2.08em;
}
.c-h3--34-0-49 {
  // 調整(XD34→32,0,49/34em)
  font-size: 32px;
  letter-spacing: 0px;
  line-height: 1.41em;

}
.c-text--16-0-40 {
  // 調整(XD16→⚪︎,0,40/16em)
  font-size: 16px;
  letter-spacing: 0px;
  line-height: 2.5em;
}
.c-h3--59-0-85 {
  // 調整(XD59→⚪54,0,85/54em
  font-size: 54px;
  letter-spacing: 0px;
  line-height: 1.57em;
}
.c-h3--50-0-61 {
  // 調整(XD50→48,0,61/50em
  font-size: 47px;
  letter-spacing: -1px;
  line-height: 1.22em;
}
.c-h4--35-0-51 {
  // 調整(XD35→32,0,51/35em
  font-size: 32px;
  letter-spacing: 0px;
  line-height: 1.45em;
}
.c-weight--bold {
  font-weight: 700;
}


/*******************************
component 余白
********************************/
.c-mright--minus10 {
  margin-right: -10px;
}
.c-x-center {
  text-align: center;
}
.c-width-65per {
  width: 65%;
  margin: 0 auto;
}
.c-width-86per {
  width: 86%;
  margin: 0 auto;
}
.c-mtb--60 {
  margin: 60px auto;
}
.c-padding--y50px {
  padding-left: 50px;
  padding-right: 50px;
}
.c-margin--0auto {
  margin: 0 auto;
}