@use "sass:math";
@charset "utf-8";

// カラー設定：テキスト
$siteWhite:#FFFFFF;
$siteBlackOne:#191919;
$siteBlackTwo:#000000;
$rightGreenOne:#2FC996;
$faqGreenOne:#91FF00;
$homeSectionTitle:#00A99D;
$greenTwo:#0CAF79;
$darkGreenOne:#30554C;
$darkGreenTwo:#204D47;
$darkGreenThree:#183834;
$orangeOne:#FF8000;
$orangeTwo:#FF8102;
$redOne:#FF0000;

// カラー設定：ライン
$planBlue:#59B5D2;
$planGreen:#9CBC3C;
$supportOrange:#FFBD7B;
$supportGreen:#83DCBF;



