// mediaQuery
@charset "utf-8";


/* responsive setting
======================================================= */
$breakpoints: (
    400: 400px,
    768: 768px,
    880: 880px,
    930: 930px
);

@mixin min($breakpoint) {
    @media (width >= #{map-get($breakpoints, $breakpoint)}) {
        @content;
    }
}
@mixin max($breakpoint) {
    @media (width <= #{map-get($breakpoints, $breakpoint)}) {
        @content;
    }
}
/* sample
 @include max(880) {
            flex-direction: column;
            align-items: flex-start;
        }
 */