@charset "utf-8";
@use "../setting.scss" as *;
@use "../layout/header.scss" as *;
@use "../layout/spnav.scss" as *;
@use "../layout/footer.scss" as *;


/* 問い合わせページ
======================================================= */
.l-form {
    padding: 50px 20px;
    margin: 0 auto;
    background-color: $titleBrightGreen;
    height: 82px;
    .l-form-contents__title {
        color: white;
        text-align: center;
    }
}
.l-breadcrumb {
    ul {
        padding-left: 4%;
        padding-right: 4%;
        display: inline-flex;
        li {
            font-size: clamp(12px, 2vw, 20px);
            letter-spacing:0.96px;
            line-height: 1.8em;
        }
    }
    li+li::before {
        content: ">";
        font-size: clamp(12px, 2vw, 20px);
        padding-left: 20px;
        padding-right: 20px;
    }
}
.l-attention {
    
    font-size: 23px;
    &--text {
        margin: auto;
        max-width: 700px;
        padding-bottom: 30px;
    }
    &--info {
        max-width: 844px;
        background-color: $siteRightGray;
        padding: 20px 48px;
        border-radius: 22px;
        
    }
    .p-info-titlebox {
        max-width: 100%;
        background-color: $titleBrightGreen;
        color: $siteWhite;
        border-radius: 99px;
        &__title {
            // letter-spacing end delete
            padding-left: 8px; 
        }
    }
}