@charset "utf-8";
@use "../setting.scss" as *;
@use "../layout/header.scss" as *;
@use "../layout/spnav.scss" as *;
@use "../layout/footer.scss" as *;


/* 問い合わせページ
======================================================= */
.l-form {
    padding: 2rem 1rem;
    margin: 0 auto;
    background-color: $titleBrightGreen;
    height: clamp(43px, 7vw, 132px);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    .l-form-contents__title {
        color: white;
        text-align: center;
    }
}
.l-breadcrumb {
    ul {
        padding-left: 4%;
        padding-right: 4%;
        display: inline-flex;
        li {
            font-size: clamp(12px, 2vw, 20px);
            letter-spacing:0.96px;
            line-height: 1.8em;
        }
    }
    li+li::before {
        content: ">";
        font-size: clamp(12px, 2vw, 20px);
        padding-left: 20px;
        padding-right: 20px;
    }
}
.l-attention {
    font-size: 23px;
    &--text {
        margin: auto;
        max-width: 700px;
        padding-bottom: 30px;
    }
    &--info {
        max-width: 844px;
        background-color: $siteRightGray;
        padding: 1.3rem 1.8rem;
        border-radius: 18px;
        margin-bottom: 60px;
        .p-info-titlebox {
            max-width: 100%;
            background-color: $titleBrightGreen;
            color: $siteWhite;
            border-radius: 99px;
            &__title {
                // letter-spacing end delete
                padding-left: 8px; 
            }
        }
        .p-info-numberbox {
            display: flex;
            flex-direction: nowrap;
            justify-content: center;
            align-items: flex-end;
            padding-top: 15px;
            &-inner {
                display: flex;
                align-items: flex-end;
            }
            .c-info-numberbox__icon {
                padding-right: 10px;
            }
            .c-info__teltime {
                font-size: 20px;
                margin-left: 15px;
            }
        }
    } 
}
@media only screen and (max-width: 930px) {
    .p-info-numberbox {
        flex-direction: column;
    }
}
.grid-container {
    display: grid;
    grid-template-columns: 1.2fr 0.6fr 2.5fr;
    gap: 10px; 
  }
  


// form
.l-formbox-inner {
    &-formitems {
        max-width: 1145px;
        margin: 0 auto;
    }
    .p-formitems {
        border-top: 1px dashed #707070;
        &--last {
            border-bottom: 1px dashed #707070;
        }
    }
}
.grid-item {
background-color: #fff;
padding: 20px 0px;
text-align: center;
&--radio {
    display: flex;
    flex-direction: row;
}
&--dt {
    display: flex;
    align-items: center;
    font-size: clamp(10px, 3vw, 21px);
    font-weight: 400;
    letter-spacing: 0.3px;
    line-height: 2em;
}
&--dt-textarea {
    display: flex;
    font-size: clamp(10px, 3vw, 21px);
    font-weight: 400;
    letter-spacing: 0.3px;
    line-height: 2em;

}
&--require {
    display: flex;
    align-items: center;
    justify-content: center;
}
&--center {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
&--require__text {
    background-color: $titleBrightGreen;
    color: $siteWhite;
    border-radius: 5px;
    padding-bottom: 0.1em;
    padding-left: 0.8em;
    padding-right: 0.8em;
    font-size: clamp(10px, 3vw, 21px);
    font-weight: 400;
    
}

& label {
    margin-bottom: 0.1em;
}
& input[type="radio"] {
    margin-right: 0.5em;
}
}

.p-formitems {
    .p-input-space {
        width: calc(100% - 1rem);
        padding: 1.1rem 0;
        padding-left: 1rem;
        border: 1px solid #000;
        border-radius: 16px;
        background-color: $siteWhite;
        font-size: clamp(10px, 3vw, 21px);
        font-weight: 400;
        letter-spacing: 0.3px;
        line-height: 2em;
    }
    .p-input-space--textarea {
        width: calc(100% - 1rem);
        min-height: 12rem;
        padding: 1.1rem 0;
        padding-left: 1rem;
        border: 1px solid #000;
        border-radius: 16px;
        background-color: $siteWhite;
        font-size: clamp(10px, 3vw, 21px);
        font-weight: 400;
        letter-spacing: 0.3px;
        line-height: 2em;
    }
    .p-radio__text {
        font-size: clamp(10px, 3vw, 21px);
        font-weight: 400;
    }
}
@media only screen and (max-width: 880px) {
    .grid-item {
        &--radio {
            flex-direction: column;
            align-items: flex-start;
        }
    }
}

.l-form-about--link {
    margin-top: 40px;
    max-width: 1110px;
    height: 65px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    a+a {
        margin-left: 3em;
    }
    a::after {
        content: "";
        background-image: url(../../../images/common/icon_sgclink.svg);
        background-size: cover;
        width: 16px;
        height: 16px;
        display: inline-block;
        margin-left: 10px;
    }
}
  