@charset "utf-8";
@use "../setting" as *;
@use "../common" as *;
@use "../layout/header" as *;
@use "../layout/footer" as *;



/* トップページ
======================================================= */
section {
    box-sizing: border-box;
}
.l-contents__title {
    font-size: 50px;
    letter-spacing: 0px;
    line-height: 1.4em;
    font-weight: bold;
    color: $titleDarkGreen;
    text-align: center;
    &-text {
        padding: 70px 0;
        font-size: 20px;
        letter-spacing: 0px;
        line-height: 1.65em;
        

    }
}
.l-contents__title--black {
    font-size: 50px;
    letter-spacing: 0px;
    line-height: 1.4em;
    font-weight: bold;
    color: $siteBlack;
    text-align: center;
}



// firstview
.l-firstview {
    width: 100%;
    height: calc(100vh - 117px);
    overflow: hidden;
    position: relative;
}
.l-firstview-contents {
    width: 970px;
    position: absolute;
    top: 95px;
    left: 8%;
    z-index: 100;
    hr {
        // 微調整（親%と全体vw）
        width: calc(100% + (100vw * 0.08));
        margin-left: calc((100vw * 0.08 * -1) - (30px));
        border-color: $titleBrightGreen;
        border-width: 1px;
        border-style: solid;
        padding-right: -8%;
        margin-top: -15px;
    }
    &__title {
        // bold(700)
        font-weight: bold;
    }
    &__text {
        padding-right: 4%;
    }
    &__icons {
        margin: 30px 0 40px 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 70px;
    }
}
.p-responsive-picture {
    width: 100vw;
    height: calc(100vh - 117px);
}
.p-responsive-picture img {
    width: 100%;
    height: calc(100vh - 117px);
    object-fit: cover;
    object-position: bottom right;
}
.p-cta--firstview a+a {
    padding-left: 22px;
    text-align: center;
}

// attention 
.l-attention-contents {
    max-width: 1200px;
    margin: 0 auto;
    padding: 105px 50px;
    picture {
        display: flex;
        justify-content: center;
        img {
            max-width: 90%;
        }
    }
    &__title {
        font-weight: 500;
        span {
            font-weight: 700;
            padding-left: 8px;
        }
    } 
}

// reason 
.l-reason {
    background-image: url('../../../images/home/pc/img_reason.png');
    background-size: cover; 
    background-position: center center;
    background-repeat: no-repeat;
    width: auto;
    padding-top: 105px;
    padding-bottom: 250px;
    box-sizing: border-box;
    &-contents {
        display: flex;
        flex-direction: column;
        max-width: 70%;
        padding-left: 50px;
        padding-right: 50px;
        margin: 0 auto;
        text-align: center;
        &__title {    
            font-weight: 700;
            span {
                padding-left: 13px;
            }
        }
        &-itemsbox {
            width: 100%;
            height: auto;
            margin-top: 50px;
            & li+li {
                margin-top: 28px;
            }
            .p-item--01 {
                background-image: url("../../../images/home/pc/img_reason01.png");
                width: auto;
                height: auto;
                background-size: cover;
                background-position: right bottom;
                overflow: hidden;
                border-radius: 20px;
                padding: 40px 70px;
            }
            .p-item--02 {
                background-image: url("../../../images/home/pc/img_reason02.png");
                width: auto;
                height: auto;
                background-size: cover;
                background-position: right bottom;
                overflow: hidden;
                border-radius: 20px;
                padding: 40px 70px;
            }
            .p-item--03 {
                background-image: url("../../../images/home/pc/img_reason03.png");
                width: auto;
                height: auto;
                background-size: cover;
                background-position: right bottom;
                overflow: hidden;
                border-radius: 20px;
                padding: 40px 70px;
            }
            .p-item__title {
                font-weight: 700;
                padding-bottom: 15px;
            }
        }
    }  
}

// decoration cta
.l-divider-deco {
    position: relative;
    height: auto;
    &::after {
        content: "";
    width: 100%;
    position: absolute;
    z-index: 10;
    background: url("../../../images/home/pc/img_divider_deco.svg") no-repeat center top / 100%
        auto;
    aspect-ratio: 1 / 0.1;
    bottom: 0;
    }
}

// cta
.l-cta-pc {
    background-color: $siteRightGray;
    height: auto;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    .p-cta--pc {
        max-width: 800px;
        margin: 0 auto;
        // display: flex;
        // flex-direction: row;
        // justify-content: center;
        text-align: center;
        & a {
            padding-left: 20px;
            padding-right: 20px;
        }
    }
    .p-telinfo {
        text-align: center;
        margin: 0 auto;
        margin-top: 22px;
        svg {
            height: 32px;
            margin-left: -3px;
            margin-right: -6px;
        }
    }
}


// work
// @mediaによるctaまでの距離の可変が必要
.l-work {
    padding-bottom: 250px;
}
@media (max-width: 768px) {
    .l-work {
      padding-bottom: 50px;
    }
}

// fivefeatures
.l-fivefeatures {
    text-align: center;

}
.l-fivefeatures-contents {
    max-width: 1200px;
    // background-color:#cbcbcb;
    &__title {
        font-weight: bold;
    }
    &__title--orange {
        color: $siteOrange;
        margin-top: -25px;
        font-weight: bold;
        .h3-adjust {
            margin-left: -10px;
            margin-right: -8px;
        }
    }
    &-itemsbox {
        .p-itemgrid:nth-child(1) {
            // background-color: aqua;
            grid-area: point1;
        }
        .p-itemgrid:nth-child(2) {
            // background-color: rgb(95, 114, 114);
            grid-area: point2;
        }
        .p-itemgrid:nth-child(3) {
            // background-color: rgb(134, 143, 143);
            grid-area: point3;
        }
        .p-itemgrid:nth-child(4) {
            // background-color: rgb(142, 208, 160);
            grid-area: point4;
        }
        .p-itemgrid:nth-child(5) {
            // background-color: rgb(205, 216, 120);
            grid-area: point5;
        }
        padding-top: 40px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas:
            "point1"
            "point2"
            "point3"
            "point4"
            "point5";
        .p-item-noreverse {
            display: grid;
            grid-template-columns: 48% 48%;
            column-gap: 4%;
        }
        .p-item-reverse {
            .p-item-imgbox {
                grid-area: imgbox;
            }
            .p-item-pointbox {
                grid-area: pointbox;
            }
            display: grid;
            grid-template-columns: 48% 48%;
            grid-template-areas: "imgbox pointbox";
            column-gap: 4%;
        }
        gap: 80px;
    }
    .p-item-pointbox {
        text-align: left;
        .p-item-point {
            &__title {
                color: $titleBrightGreen;
                font-weight: bold;
                font-size: 32px;
                letter-spacing: 0px;
                line-height: 1.45em;
                border-left: 10px solid $titleBrightGreen;
                padding-left: 20px;
                &--two {
                    color: $siteGreen;
                    font-size: 35px;
                    letter-spacing: 0px;
                    line-height: 1.44em;
                    &-sub {
                        font-size: 20px;
                        // letter-spacing: 1.45px;
                        // line-height: 0.74em;
                    }
                }
            }
            &__caption {
                margin-top: 30px;
                margin-bottom: 40px;
                font-size: 16px;
                letter-spacing:0.8px;
                line-height: 1.5em;
            }
            &-listbox {
                &__item {
                    font-size: 17px;
                    letter-spacing: 1px;
                    line-height: 1.61em;
                    &::before {
                        content: "●";
                    }
                }

            }
        }
    }
    .p-item-imgbox {
        img {
            max-width: 100%;
            height: auto;
        }
    }
}



// work
.l-work-contents {
    max-width: 1200px;
    &-itemsbox {
        max-width: 100%;
        height: auto;
        // background-color: aqua;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: auto;
        gap: 10px;
        .p-item {
            max-width: 100%;
            img {
                max-width: 100%;
            }
        }
    }
}


// flow
.l-flow {
    text-align: center;
    picture {
        img {
            max-width: 100%;
        }
    }
}

// plan
.l-plan {
    text-align: center;
    &-contents-itemsbox {
        max-width: 1145px;
        margin: 0 auto;
        dl + dl {
            margin-top: 23px;
        }
    }
    .p-item-plan {
        display: grid;
        background-color: $siteWhite;
        grid-template-columns: 23% 39% 28% 10%;
        grid-template-rows: 80px;
        padding: 1% 3%;
        align-items: center;
        box-sizing: border-box;
        border: 5px solid;
        border-radius: 15px;
        &__name {
            font-size: 30px;
            line-height: 1.52em;
            text-align: left;
            font-weight: bold;
            &--wide {
                letter-spacing:1.01rem;
            }
            &--tight {
                letter-spacing: 0.1rem;
            }
        }
        &__recommend {
            font-size: 16px;
            letter-spacing:0px;
            line-height: 1.52em;
            text-align: center;
        }
        &__amount {
            font-size: 51px;
            letter-spacing:0px;
            line-height: 1.48em;
            text-align: end;
            font-weight: bold;
        }
        &__tax {
            font-size: 24px;
            letter-spacing:1.2px;
            line-height: 1.45em;
            text-align: left;
            // max-width: 110px;
            
            &--two {
                text-align: end;
            }
        }
    }
    .p-item {
        &--getsugaku {
            border-color: $planLineBlue;
            position: relative;
            &-attention {
                position: absolute;
                top: -120px;
                right: -20px;
                // top: -105px;
                // right: -65px;
            }
        }
        &--syokihiyou {
            border-color: $planLineGreen;
        }
    }
    &-contents-attentionlist {
        margin-top: 23px;
        text-align: left;
        font-size: 16px;
        line-height: 1.6em;
        max-width: 1145px;
        margin: 23px auto 0px;
    }
}

// support
.l-support {
    text-align: center;
    .l-contents__title {
        box-sizing: border-box;
        max-width: 790px;
        position: relative;
        // border-left: solid 3px $titleDarkGreen;
        // border-right: solid 3px $titleDarkGreen;
        margin: 0 auto;
        &::before {
            content: "";
            display: block;
            position: absolute; 
            left: 0; 
            top: 0;
            width: 10px; 
            height: 95%; 
            border-left: solid 4px $titleDarkGreen;
            transform: rotate(-25deg); 
            transform-origin: bottom
        }        
        &::after {
            content: "";
            display: block;
            position: absolute; 
            right: 0; 
            top: 0;
            width: 10px; 
            height: 95%; 
            border-left: solid 4px $titleDarkGreen;
            transform: rotate(25deg); 
            transform-origin: bottom
        }        
    }
    &-contents {
        &-itemsbox {
            margin-top: 100px;
            display: grid;
            grid-template-columns: 48% 48%;
            grid-gap: 4%;
            max-width: 1145px;
            margin: 80px auto 0px;
            .p-item-support {
                max-width: 100%;
                padding: 50px 30px;
                box-sizing: border-box;
                border-radius: 20px;
                border: solid 10px;
                height: auto;
                &__title {
                    font-size: 30px;
                    padding-bottom: 20px;
                    font-weight: bold;
                    &--orange {
                        color: $siteOrange;
                    }
                    &--green {
                        color: $titleDarkGreen;
                    }
                }
                &__text {
                    width: 80%;
                    margin: 0 auto;
                    font-size: 16px;
                }
                &--orange {
                    border-color: $supportLineOrange;
                }
                &--green {
                    border-color: $supportLineGreen;
                }
            }
        }
        &-position {
            position: relative;
        }
        &-imgbox {
            display: grid;
            grid-template-columns: 120px auto 120px;
            margin: 16px auto;
            max-width: calc(1145px * 0.65);
            @media only screen and (max-width: 767px) {
                display: none;
            }
            &__img-pc {
                position: absolute;
                top: -55px;
                left: 50%;
                transform: translate(-50%);
                img {
                    max-width: 100%;
                }
            }
           
        }
    }

    
}






// companyinfo 
.l-company-info {
    background-color: $siteRightGray;
    color: $siteGreen;
}
