@charset "UTF-8";
/***************************
テストカラー
****************************/
/***************************
カラー
****************************/
/*****************************
フォント
******************************/
.bold {
  font-weight: bold;
}

/*******************************
構造
********************************/
body {
  overflow-x: hidden;
}

body,
h1,
h2,
h3,
h4,
h5,
table,
th,
td,
ul,
li,
ol,
dl,
dt,
dd,
form,
p {
  margin: 0px;
  padding: 0px;
  list-style: none;
  list-style-type: none;
  font-weight: 300;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

/*******************************
component テキスト
********************************/
.c-textcolor--orange {
  color: #FF8000;
}

.c-textcolor--black {
  color: #191919;
}

.c-textcolor--white {
  color: #FFFFFF;
}

.c-textcolor--green {
  color: #30554C;
}

.c-titlecolor--brightgreen {
  color: #2FC996;
}

.c-text--12 {
  font-size: 12px;
}

.c-text--28-0-40 {
  font-size: 23px;
  letter-spacing: 0px;
  line-height: 1.42em;
}

.c-text--13-046-27 {
  font-size: 12px;
  letter-spacing: 0.46px;
  line-height: 2.25em;
}

.c-text--20-1-29 {
  font-size: 17px;
  letter-spacing: 1px;
  line-height: 1.61em;
}

.c-h2--65-0-121 {
  font-size: 63px;
  letter-spacing: 0px;
  line-height: 2.08em;
}

.c-h3--34-0-49 {
  font-size: 32px;
  letter-spacing: 0px;
  line-height: 1.41em;
}

.c-text--16-0-40 {
  font-size: 16px;
  letter-spacing: 0px;
  line-height: 2.5em;
}

.c-h3--59-0-85 {
  font-size: 54px;
  letter-spacing: 0px;
  line-height: 1.57em;
}

.c-h3--50-0-61 {
  font-size: 47px;
  letter-spacing: -1px;
  line-height: 1.22em;
}

/*******************************
component 余白
********************************/
.c-mright--minus10 {
  margin-right: -10px;
}

.c-x-center {
  text-align: center;
}

.c-width-65per {
  width: 65%;
  margin: 0 auto;
}

.c-width-86per {
  width: 86%;
  margin: 0 auto;
}

.c-mtb--60 {
  margin: 60px auto;
}

/* 共通
======================================================= */
/* header-layout
======================================================= */
.l-header {
  width: 100%;
  height: 117px;
  background-color: #da9191;
}

.l-header-inner {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  background-color: #FFFFFF;
  width: auto;
  height: 117px;
  margin-left: 8%;
  margin-right: 8%;
}
.l-header-inner__logo img {
  max-width: 430px;
  max-height: auto;
}
.l-header-inner__menu--pc {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.l-header-inner__menu--pc .p-telinfo {
  max-width: 243px;
  display: flex;
  flex-direction: column;
}
.l-header-inner__menu--pc .p-nav {
  max-width: auto;
}
.l-header-inner__menu--pc .p-nav-listbox {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

/* footer-layout
======================================================= */
.l-footer {
  width: 100%;
  height: 42px;
  background-color: #30554C;
  display: flex;
  justify-content: center;
  align-items: center;
}

.l-footer-inner {
  width: auto;
  text-align: center;
}

/* トップページ
======================================================= */
section {
  margin: 0 auto;
}

.l-firstview {
  width: 100vw;
  height: calc(100vh - 117px);
  overflow: hidden;
  position: relative;
}

.l-firstview-contents {
  width: 970px;
  position: absolute;
  top: 95px;
  left: 8%;
  z-index: 100;
}
.l-firstview-contents hr {
  width: calc(100% + 8vw);
  margin-left: calc(-8vw - 30px);
  border-color: #2FC996;
  border-width: 1px;
  border-style: solid;
  padding-right: -8%;
  margin-top: -15px;
}
.l-firstview-contents__title {
  font-weight: bold;
}
.l-firstview-contents__text {
  padding-right: 4%;
}
.l-firstview-contents__icons {
  margin: 30px 0 40px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 70px;
}

.p-responsive-picture {
  width: 100vw;
  height: calc(100vh - 117px);
}

.p-responsive-picture img {
  width: 100%;
  height: calc(100vh - 117px);
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: bottom right;
     object-position: bottom right;
}

.p-cta--firstview a + a {
  padding-left: 22px;
  text-align: center;
}

.l-attention-contents {
  max-width: 1200px;
  margin: 0 auto;
  padding: 105px 50px;
}
.l-attention-contents picture {
  display: flex;
  justify-content: center;
}
.l-attention-contents picture img {
  max-width: 90%;
}
.l-attention-contents__title {
  font-weight: 500;
}
.l-attention-contents__title span {
  font-weight: 700;
  padding-left: 8px;
}

.l-reason {
  background-image: url("../../../images/home/pc/img_reason.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: auto;
  padding: 105px 50px;
}
.l-reason-contents {
  display: flex;
  flex-direction: column;
  max-width: 635px;
  margin: 0 auto;
  text-align: center;
}
.l-reason-contents__title {
  font-weight: 700;
  padding-left: 8px;
}
.l-reason-contents__title span {
  padding-left: 15px;
}
.l-reason-contents__hr {
  width: 140px;
  border-color: #FFFFFF;
  border-width: 1px;
  border-style: solid;
  margin-top: 20px;
}/*# sourceMappingURL=home.css.map */